<table class='meeting_impact'>
<tr><td colspan="2" class="title_table">Notes</td></tr>
<%= economics_lever_note("<b>Air Traffic Assumption Explanation</b>", @meeting_date_economic_impact.spending_air_traffic_lever_note) %><br />
<%= economics_lever_note("<b>Ground Transportation Assumption Explanation</b>", @meeting_date_economic_impact.spending_ground_transportation_lever_note) %><br />
<%= economics_lever_note("<b>Food Assumption Explanation</b>", @meeting_date_economic_impact.spending_food_lever_note) %><br />
<%= economics_lever_note("<b>Room Assumption Explanation</b>", @meeting_date_economic_impact.spending_room_lever_note) %><br />
<%= economics_lever_note("<b>Shopping Assumption Explanation</b>", @meeting_date_economic_impact.spending_shopping_lever_note) %><br />
<%= economics_lever_note("<b>Entertainment Assumption Explanation</b>", @meeting_date_economic_impact.spending_entertainment_lever_note) %><br />
</table>
<br />